.notification {
    position: absolute;
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    right: -200px;
    animation: slideIn 1.5s ease-in-out 1;
}

@keyframes slideIn {
    0% {
        right: -200px
    }
    70%{
        right:0px;
    }

    100% {
        right: -200px;
    }
}
.notification-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 200px;
}